@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    font-size: 22px;
    color: #4AF626;
    font-family: 'Space Mono', 'Courier New', monospace;
    background-color: rgb(24, 26, 27);
    outline: none;
}

input {
    border: 5px solid green;
}

button.link {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

small {
    font-size: 80%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #4AF626;
    text-align: start;
}

th, td {
    padding-inline-start: 0.3em;
    padding-inline-end: 0.3em;
}
